$color-primary-grey: #2c3e50;
$color-primary-green: #406b63;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #f8f4f4;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$white-color: #fff;

$green-color: #16a98c;

$font-family: "Montserrat", sans-serif;

$bp-large: 1000px;
$bp-medium:550px;
